@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/inter/Inter-Regular.woff2?3.13') format('woff2'),
    url('/inter/Inter-Regular.woff?3.13') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/inter/Inter-Italic.woff2?3.13') format('woff2'),
    url('/inter/Inter-Italic.woff?3.13') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/inter/Inter-Bold.woff2?3.13') format('woff2'),
    url('/inter/Inter-Bold.woff?3.13') format('woff');
}
